.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem 0 5rem;
}

.contenedor-filas-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 5rem;
}
