.hero {
  padding: 6rem 0;
}

.hero h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.hero-img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
}

.hero p {
  font-size: 2.5rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.boton-portafolio {
  font-size: 1.8rem;
}
