.sobre-mi {
  padding: 6rem 15rem;
  background-color: #ffffff;
  width: 100%;
}

.titulo-sobreMi {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.parrafo-sobreMi {
  font-size: 1.7rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  text-align: justify;
}
